body {
  background-color: black;
  padding-top: 45px;

}

h1 {
  color: rgb(236, 163, 227);
  text-align: center;
  font-family: ltc-broadway, sans-serif;
  font-size: 6rem;
}

h2 {
  text-align: center;
  color: white;
  font-family: "owners", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: auto;
}

#words {
  color: #613452;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-family: "dovetail-mvb", serif;
  font-weight: 500;
  font-style: normal;

}

button:hover {
  background-color: white;
  color:rgb(151, 75, 140); 
}

button:active {
  background-color:  #a97ca3;
}

#textbox {
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  height: 70px;
  width: 300px;
  background-color: rgb(236, 163, 227);
  border-radius: 10px;
  margin-bottom: 80px;
  text-align: center;
  font-family: ltc-broadway, sans-serif;
  margin-right: 25px;  
  font-size: larger;
}

#cakepic {
 text-align: center;
 height:100px
}

pleasecenter {
  justify-content: center;
}

#me {
  height:640px;
  width: 630px;
}

#meee {
  height:640px;
  width: 630px;
}

#uhm {
  color: #613452;
  background-color: white;
  font-size: large;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "dovetail-mvb", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

